.header {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1a/24701-nature-natural-beauty.jpg);
  background-size: cover;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  &__left{
    margin: 40px 20px;
    h1{
      color: #fff;
    }
    button {
      background-color: #8E5EF9;
      padding: 10px;
      border: none;
      border-radius: 10px;
      color: #fff;
      margin-top: 10px;
      min-width: 100px;
    }
  }
}
